.slider{
	height: 600px;
}

h1 {
	color: black;
}

/*home2aiza*/
.home-navbar{
	height: 100px;
	width: 800px;
	border: 2px solid white;
	background-color: red;
	border-radius: 50px;
	position: fixed;
	z-index: 1;
}


